<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

    <targets>
      <!--xsi:type指定日志对象的格式，详细请参考NLog组件的说明文档-->
      <!--name指示日志对象的名称，以供rules节点调用-->
      <!--layout是指定每条日志记录的格式-->
      <target xsi:type="ColoredConsole" name="console" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}  ${message}"/>
      <target xsi:type="ColoredConsole" name="console_simple" layout="[${level}] ${message}"/>
      <!--fileName是日志输入文件所在路径和文件名格式-->
      <target xsi:type="File" name="file" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}  ${message}" fileName="D:\Log\DCMSService${shortdate}.log"/>
      <target xsi:type="File" name="file_simple" layout="${date:format=HH\:mm\:ss fffff}|${level}  ${message}" fileName="D:\Log\DCMSService${shortdate}.log"/>
    </targets>

    <rules>
      <!--这里指定写入到的对象，该对象为上述Target的name属性，以,分隔-->
      <!--以下示例指示日志输出到控制台和文件中-->
      <logger name="*" writeTo="console_simple,file" minlevel="Trace" />
    </rules>
</nlog>
