<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="WebsoketIp" value="127.0.0.1"/>
    <add key="WebsoketPort" value="1234"/>
    <add key="MqttServerIp" value="192.168.100.3"/>
    <add key="MqttServerPort" value="1883"/>
    <add key="DBPath" value="E:\项目\SensorflowDemo\sensorflowdemo\code\SensorflowDemo\SensorflowDemo\App_Data\DB\demo.db"></add>
  </appSettings>
</configuration>
